* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #52a5a8;
  color: #29023d;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  text-align: center;
}

main {
  width: 100vw;
  height: 60vh;
}
.background-img img {
  height: 10rem;
  width: 10rem;
  margin-bottom: 1rem;
}
.introduced-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2.8rem;
  align-content: stretch;
}
.introduction {
  text-align: center;
  justify-content: center;
  font-size: 3rem;
}

p.paragraph-introduction {
  margin: 1.3rem;
}

.shift-key {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  align-items: center;
  flex-direction: column;
}
.input-offeset {
  width: 9rem;
  height: 2rem;
  text-align: center;
  border-radius: 0.6rem;
  border: black;
  margin-top: 0.5rem;
}

.buttons {
  width: 6rem;
  height: 2rem;
  color: black;
  background-color: #607d8b;
  cursor: pointer;
  border-radius: 0.3rem;
  border: grey 1px solid;
}

.label-textarea {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.div-textareas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.textareas {
  width: 12.5rem;
  height: 6rem;
  border-radius: 0.6rem;
  text-align: center;
  resize: none;
}
.footer{
  height: 20%;
  margin-top: 2.8rem;
  margin-bottom: 2.5rem;
}
a,.paragraph{
 cursor: pointer;
 text-decoration:none;
 color: #29023d;
 margin-top: 15rem;
 position: relative;
}
.developer{
  width: 5rem;
  margin-top:5rem;
  border-radius: 2.5rem;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-in-out;
}
.developer:hover{
  top:-4px;
  box-shadow:0 7px 7px rgb(176, 177, 82);
  transition: all .2s ease-in-out;
}

@media (min-width: 1024px) {
  p.paragraph-introduction {
    font-size: larger;
    margin: 5rem;
  }  
  .textareas{
    width: 400px;
    height: 180px;
  }
  main{
    height: 80vh;
  }
}

@media (min-width: 1440px) {
  .name-page,.how-does-it-work{
    font-size: 4rem;
  }
  p.paragraph-introduction,.offset,.label-textarea,.buttons,.footer{
    font-size: 2rem;
  }
  .input-offeset {
    width: 17rem;
    height: 4rem;
  }
  .textareas{
    width: 37.5rem;
    height: 18.7rem;
  }
  .buttons {
    width: 12rem;
    height: 4rem;
    border-radius: 0.6rem;
  }
  .background-img img{
    height: 15rem;
    width: 15rem;
  }
}
